  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

:root{

    --main-color: #d3ad7f;  
    --red-color: #da0b0b;  
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255,.3)
    
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}

html{

    font-size: 85%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}

.logo {
    max-width: 5rem;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #1c1c1c;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #1c1c1c;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #ecececec;
    }
}


.Conctac .box-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.Conctac .box-container .box {

    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.Conctac .box-container .box .icons a {

    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.Conctac .box-container .box .icons a:hover {

    background: var(--main-color);
}

#red:hover{
    background: var(--red-color);
}

.Conctac .box-container .box .image {
    padding: 2.5rem 0;
}

.Conctac .box-container .box .image img {
    height: 25rem;
}

.Conctac .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.Conctac .box-container .box .content .stars {
    padding: 1.5rem;
}

.Conctac .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.Conctac .box-container .box .content .prince{

    color: #fff;
    font-size: 2.5rem;
}

.Conctac .box-container .box .content .prince span{

    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}